.App {
  text-align: center;
}

.Main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: 1em 1em 2em 1em;
}

.vizArticle {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4E4F50;
}

.App-link {
  color: #61dafb;
}
