.vizArticle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2em 1em 4em 1em;
  /* background-color: #4E4F50; */
  background-color: #282820;
  box-shadow: 10px 10px 50px 30px rgb(97 218 251 / 15%), -10px -10px 50px 30px rgb(97 218 251 / 3%);
}

.loadingTransition {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}

