.vizArticle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2em 1em 4em 1em;
  /* background-color: #4E4F50; */
  background-color: #282820;
  box-shadow: 10px 10px 50px 30px rgb(97 218 251 / 15%), -10px -10px 50px 30px rgb(97 218 251 / 3%);
}

.inactive {
  clip: rect(0 0 0 0); /* cuts the element so it disappears */
  clip-path: inset(50%); /* replaces clip on modern browsers */
  position: absolute; /* remove the element from document flow */
  height: 1px; /* shortest possible height still accessible to screen readers */
  width: 1px; /* shortest possible width still accessible to screen readers */
  overflow: hidden; /* avoids element overflowing */
  white-space: nowrap; /* avoids removing empty spaces on screen readers */
}
